[run]
source = cryptoparser
omit = cryptoparser/__setup__.py

[report]
exclude_lines =
    pragma: no cover
    raise NotImplementedError
fail_under = 100
include = cryptoparser/*
show_missing = True
